
.productPagination .prevLink, .nextLink{
    background-color: #428bca;
    color: #fff;
    display: block;
    padding: 8px 5px;
    position: relative;
    border: 1px solid #AAA;
    border-radius: 4px;
    font-weight: bold;
    float: left;
    margin-left:-1px;
    text-decoration:none;
}

.productPagination{
    margin-right: 130px;
    padding: 30px;
}

.step{
    font-size: 19px;
    padding: 3px;
    clear: both;
}

.currentStep {
    font-size: 19px;
    color: white;
    clear: both;
    padding: 3px;
}

#filterDiv{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    height: 200px;
    width: 89.5%;
    clear: both;
    margin-left: 11px;
    border-radius: 0.3125em;
}
